extends layout

block content
  h2 #{title}
  h3 #{message}

  address
    strong Email: 
    a(href='mailto:davidberry@outlook.com') davidberry@outlook.com
    br
    strong Twitter: 
    a(href='http://www.twitter.com/crmentropy') @crmentropy
